body{
    background-color: rgb(231, 231, 231);
}

h2{
    margin-top: 15px;
    text-align: center;
}

fieldset{
    padding: 20px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 16px;
}

.gifs{
    width: 410px;
    float: left;
}

#gifArea{
    margin-bottom: 20px;
}

